body {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, button {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

select {
    width: 100%;
    max-width: 100%;
}

button {
    cursor: pointer;
}

#inputs {
    margin-bottom: 15px;
}

#resultado {
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    display: none;
}